@font-face {
    font-family: Mason_Serif_Bold;
    src: url("../assets/mason-serif-bold.otf") format("opentype");
}
@font-face {
    font-family: Goudy_old_bold;
    src: url("../assets/GOUDOSB.TTF") format("opentype");
}
.textointro label{
	flex: 0;
}
.tablahab table td {
	padding:0px;
}
.character .window-content, .equippableItem .window-content, .custom-dialog .window-content {
	background: aliceblue;
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	padding:1rem;
	color: black;
}
.character h3, .equippableItem h3, .custom-dialog h3{
	color:black;
	font-family: Mason_Serif_Bold;
	padding:0px;
}
.character h3 div, .equippableItem h3 div, .custom-dialog h3 div{
	padding:0px;
}
.character .grid {
	margin-top:0px;
	margin-bottom:0px;
}
.character input[type=text], .equippableItem input[type=text], .custom-dialog input[type=text]{
	box-shadow:0px 0px;
	background: transparent;
	border-color: black;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
	color:black;
}
.character input[type=number], .equippableItem input[type=number], .custom-dialog input[type=number]{
	box-shadow:0px 0px;
	background: transparent;
	border-color: black;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
	color:black;
}
.character select, .equippableItem select, .custom-dialog select{
	background: transparent;
	border-color: black;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
	color:black;
}
.custom-system-user-inputs td button {
    color: black;
}
.character summary:before, .equippableItem summary:before, .custom-dialog summary:before {
	border-color: transparent transparent transparent #000000;
}
.character input[type="checkbox"]::before, .equippableItem input[type="checkbox"]::before, .custom-dialog input[type="checkbox"]::before {
    content:"\f0c8";
    color: black;
    font-weight:normal;
}
.character  input[type="checkbox"]:checked::after, .equippableItem  input[type="checkbox"]:checked::after, .custom-dialog  input[type="checkbox"]:checked::after {
    content: "\f14a";
    color: black;
}
.character input[type="checkbox"]:checked::before, .equippableItem input[type="checkbox"]:checked::before,  .custom-dialog input[type="checkbox"]:checked::before {
    content: "\f14a\f14a";
    color: transparent;
}
.custom-dialog .form-group > label {
	color: black;
}
.character table, .equippableItem table, .custom-dialog table {
	background:transparent;
}
.custom-system-number-field-control {
	background:transparent;
	color:black;
	border:1px solid black;
}
.character input[type="radio"]::before, .equippableItem input[type="radio"]::before, .custom-dialog input[type="radio"]::before {
    content:"\f10c";
    color: black;
    font-weight:normal;
}
.character input[type="radio"]:checked::before, .character  input[type="radio"]:checked::after, .equippableItem input[type="radio"]:checked::before,  .equippableItem  input[type="radio"]:checked::after, .custom-dialog input[type="radio"]:checked::before, .custom-dialog  input[type="radio"]:checked::after {
    content: "\f192";
    color: black;
	font-family: "FontAwesome";
    font-weight: 400;
}
.character .content-link, .equippableItem .content-link, .custom-dialog .content-link {
  background:transparent;
  color: black;
  border: 0px;
}
.custom-system-user-input-button {
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove black;
    color: black
}
.custom-dialog .standard-form .form-footer > button {
  color:black;
  background:transparent;
  border: 2px groove black;
}
.charname input[type="text"] {
	background:transparent;
	border-width: 0px 0px 1px 0px;
	border-radius:0px;
}
.dinero input{
	width:auto;
}
.dinero {
	width:100%;
}
.textoespe {
	margin-top:5px;
}
.tablahab table tr:nth-child(even) {
        background-color: rgb(226 241 255 / 75%);
}
.sociales table{
	border-right:0px;
}
.tabladano {
    background-color: transparent;
}
.tabladano table{
    background-color: transparent;
		border-bottom:0px;
}
.tabladano table tr:nth-child(even) {
        background-color: rgb(226 241 255 / 75%);
}
.tablatallim {

    background-color: transparent;
}
.tablatallim table{
    background-color: transparent;
	border-bottom:0px;
}
.tablatallim table tr:nth-child(even) {
        background-color: rgb(226 241 255 / 75%);
}
.equipamientotabla table tr:last-child {
	background-color:transparent;
}
.chat-message .message-content {
	font-family: 'Goudy_old_bold';
	font-size:20px;
}
.sheet .custom-system-actor header.sheet-header .profile-img-container img {
	display:block;
	-webkit-transition-property: all; 
	-webkit-transition-duration: 0.3s; 
	-webkit-transition-timing-function: ease; 
	z-index:999
}
.sheet .custom-system-actor header.sheet-header .profile-img-container img:hover {
	transform: translate(50%, 50%) scale(2);
}
.chat-message .message-header .message-sender {
	overflow-wrap: break-word;
	hyphens: auto;
	hyphenate-character: auto;
}
.chat-message {
	background: aliceblue;
}
.custom-system-rollable {
    color: #003f62;
}
.hablabel{
	flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
	font-family: 'Goudy_old_bold';
	font-size:17px;
	text-align: justify;
}
.habnumber input{
	font-family: 'Goudy_old_bold';
	font-size:17px;
	text-align: center;
	width: 30px;
}
.tablahab table {
	background-color:transparent;
	border-right:1px solid #003f62;
	border-top:0px;
	border-bottom:0px;
}
.titulogrande{
	font-family: 'Mason_Serif_Bold';
	font-size:20px;
}
.titulonorm{
	font-family: 'Mason_Serif_Bold';
	font-size:18px;
}
.textointro{
	font-family: 'Mason_Serif_Bold';
	font-size:18px;
}
.textointro input{
	font-family: 'Goudy_old_bold';
	font-size:18px;
	text-align: center;
	width:40px;
}
.textointro select{
	font-family: 'Goudy_old_bold';
	font-size:18px;
	text-align: center;
	width: 50%;
}
.textoespe{
	font-family: 'Mason_Serif_Bold';
	font-size:18px;
}
.textoespe input{
	font-family: 'Goudy_old_bold';
	font-size:18px;
	text-align: left;
}
.tabladano{
	font-family: 'Goudy_old_bold';
	font-size:18px;
	text-align: left;
	color: #003f62;
	background-color: #e5f2fd;
}
.tabladano table td:first-child a{
	font-family: 'Goudy_old_bold';
	font-size:18px;
	text-align: left;
	color: #003f62;
	padding-left:10px;
}
.custom-system-item-container-image{
	display:none;
}
.iniciativapanel{
	display:none;
}
.tabbedpanel .item{
	font-family:'Mason_Serif_Bold';
	font-size:19px;
	font-weight:700;
	text-align:center;
	color:#505851;
}
.tabbedpanel .item.active{
	text-decoration: underline;
	color:black;
}
.charname{
	font-family:'Mason_Serif_Bold';
	font-size:30px;
}
.itemname{
	font-family:'Mason_Serif_Bold';
	font-size:30px;
}
.tablatallim table{
	font-family:'Goudy_old_bold';
	font-size:15px;
	background-color: #e5f2fd;
}
.tablatallim table td:first-child a{
	color: #003f62;
}
.tablatallim table p{
	font-family:'Goudy_old_bold';
	font-size:15px;
	text-align: justify;
	padding-right:7px;
}
.tablatallim table tr:first-child{
	font-family:'Mason_Serif_Bold';
	font-size:18px;
}
.tablatallim table td:first-child{
	padding-left:8px;
}
.tablaexp table{
	background-color:transparent;
	border: 0px;
}
.tablaexp table tr:first-child{
	border-bottom: 1px solid;
}
.notastext {
	font-family:'Goudy_old_bold';
	font-size:15px;
}
.numdif {
	font-family:'Goudy_old_bold';
	font-size:15px;
	text-align:center;
}
.descitem{
	font-family:'Goudy_old_bold';
	font-size:15px;
	text-align:justify;
}
.descitem label{
	font-family:'Mason_Serif_Bold';
	font-size:18px;
	text-align:justify;
}
custom-system-roll {
    background: #fff0;
    border: 0px solid #4b4a44;
	font-family:'Mason_Serif_Bold';
	font-size:30px;
	font-weight:600;
}
.custom-system-roll i{
	display: none;
}
.chat-message .message-content h1{
font-family:'Mason_Serif_Bold';
	font-size:30px;
	font-weight:700;
	text-align:center;
	border:0px;
}
.chat-message .message-content h2{
font-family:'Mason_Serif_Bold';
	font-size:25px;
	font-weight:700;
	text-align:center;
	border:0px;
}
.chat-message .message-content p{
font-family:'Mason_Serif_Bold';
	font-size:25px;
	font-weight:700;
	text-align:center;
	border:0px;
}
.inline-roll {
	font-family:'Goudy_old_bold';
}
.tablatallim a.content-link{
	background:transparent;
	border: 0px;
}
.tabladano a.content-link{
	background:transparent;
	border: 0px;
}
.chat-message .message-header .message-sender{
	font-family: 'Mason_Serif_Bold';
	text-align:center;
	font-size: 1vw;
	text-wrap: wrap;
	line-height:100%;
	margin-top:5px;
	margin-bottom:5px;
	color: #003f62;
	white-space: normal;
}
.chat-message .message-header {
	border-bottom: 2px solid #003f62;
}
.message .message-header .message-metadata {
	flex:0 0 50px;
	margin-left: 0;
}
.message-timestamp {
	font-family:'Goudy_old_bold';
	text-wrap: wrap;
	font-size:10px;
}
.charname input[type="text"] {
	background:transparent;
	border-width: 0px 0px 1px 0px;
	border-radius:0px;
}
.dinero input{
	width:auto;
}
.dinero {
	width:100%;
}
.textoespe {
	margin-top:5px;
}
.tablahab table tr:nth-child(even) {
        background-color: rgb(226 241 255 / 75%);
}
.sociales table{
	border-right:0px;
}
.tabladano {
    background-color: transparent;
}
.tabladano table{
    background-color: transparent;
		border-bottom:0px;
}
.tabladano table tr:nth-child(even) {
        background-color: rgb(226 241 255 / 75%);
}
.tablatallim {

    background-color: transparent;
}
.tablatallim table{
    background-color: transparent;
	border-bottom:0px;
}
.tablatallim table tr:nth-child(even) {
        background-color: rgb(226 241 255 / 75%);
}
.equipamientotabla table tr:last-child {
	background-color:transparent;
}
.chat-message .message-content {
	font-family: 'Goudy_old_bold';
	font-size:20px;
}
.chat-message .message-header .message-sender {
	overflow-wrap: break-word;
	hyphens: auto;
	hyphenate-character: auto;
}
.custom-system-roll {
	border:0px;
	background:transparent;
}